@import "../variables.scss";

.gallery {
  margin: 50px 20px 0 20px;
  a {
    margin: 0 0 10vh 0;
    width: 100%;
  }
  section[class="access_googlemap_access__BCi01"] {
    margin-bottom: 10vh;
  }
  section[class="important_points_points___LZTA"] {
    margin-bottom: 78px;
  }
  section[class="gallery_concept_concept__Y5UoW"] {
    margin-bottom: 150px;
  }
  &__images {
    margin-bottom: 10vh;
  }
  @include mq("md") {
    margin: 70px 50px 0 50px;
    section[class="gallery_top_top__IatES"],
    section[class="gallery_concept_concept__Y5UoW"] {
      margin-bottom: 23.5vh;
    }
    section[class="access_googlemap_access__BCi01"] {
      margin-bottom: 27vh;
    }
    section[class="important_points_points___LZTA"] {
      margin-bottom: 23vh;
    }
    a {
      margin: 0 auto 27vh auto;
      width: 36vw;
    }
    &__images {
      margin-bottom: 32vh;
    }
  }
  @include mq("xl") {
    margin: 70px 70px 0 70px;
  }
}
