@import "../variables.scss";

.bar__container_type_top {
  background-color: rgba(255, 255, 255, 0.4);

  &_titles {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    margin-top: 30px;
    margin-bottom: 33px;

    &_img {
      max-width: 50%;
    }

    &_header {
      width: 50%;
    }
  }

  @include mq("sm") {
    .bar__container_type1 {
      padding: 26px 26px 0 0;

      &_titles {
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        margin: 0 0 30px 0;
      }
    }
  }
}

.bar__container_type_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 433px;
  &_titles {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;

    &_img {
      position: relative;
      order: 2;
      flex-grow: 5;
    }

    &_header {
      flex-grow: 1;
      align-self: flex-end;
    }
  }

  &_description {
    width: 55%;
    padding: 0 8px;
  }
}

@include mq("sm") {
  .bar__container_type2 {
    margin: 0 17px;

    &_titles {
      width: 54%;

      &_img {
        width: 73%;
      }

      &_header {
        padding-right: 38px;
      }
    }

    &_description {
      align-self: flex-start;
      padding: 0 50px;
    }
  }
}

.shared_styles {
  h1 {
    font-size: $font-size-para;
  }

  h2 {
    font-size: calc(18px + (24 - 18) * ((100vw - 440px) / (1600 - 440)));
  }
}
