@import "./../variables.scss";

.concert {
  margin-bottom: 122px;
  &__title {
    font-size: calc(16px + (22 - 16) * ((100vw - 440px) / (1600 - 440)));
    margin-bottom: 93px;
  }
  &__list {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: auto;

    li {
      width: 265px;
      margin-right: 21px;
      flex: 0 0 auto;
      cursor: pointer;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@include mq("md") {
  .concert {
    &__title {
      word-break: break-all;
      position: absolute;
      right: 5%;
      max-width: 59%;
    }
    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-column-gap: 48px;
      li {
        width: 100%;
        &:nth-child(1) {
          grid-area: 1 / 1 / 4 / 2;
        }
        &:nth-child(2) {
          grid-area: 2 / 2 / 5 / 3;
        }
        &:nth-child(3) {
          grid-area: 3 / 3 / 6 / 4;
        }
      }
    }
  }
}
