@import '../variables.scss';

.news {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 0;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.03);
  }

  &__top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}