@import "../variables.scss";

.shopInfo {
  display: flex;
  flex-direction: column;
  gap: 30px;
  &__white {
    color: #fff;
  }
  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @include mq("md") {
    align-items: flex-start;
    &__text_white,&__text {
      width: 36vw;
    }
    &__text_white {
      color: #fff;
    }
    &__title {
      align-items: flex-start;
    }
  }
}
