@import "../variables.scss";

.business {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  &__week {
    &_flex {
      text-align: right;
    }
  }
  &__hour {
    &_flex {
      text-align: left;
    }
  }

  p {
    font-size: $font-size-para;
  }
}
