@import "../variables.scss";

.button {
  position: relative; /* positionの基準点にする */
  display: block;
  width: 73vw;
  max-width: 250px;
  min-height: 133px;
  border: none;
  padding-top: 22%; 
  background: #c1c1c1;
  display: flex; /* 縦横中央揃え（サンプル用） */
  justify-content: center; /* 縦横中央揃え（サンプル用） */
  align-items: center; /* 縦横中央揃え（サンプル用） */
  border-radius: 10px;
  &__text {
    position: absolute; /* 基準点からの位置を指定可能にする */
    white-space: nowrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px; /* フォントサイズも可変に */
    color: #fff;
    margin: 0;
  }
  @include mq("md") {
    width: 30vw;
    max-width: 580px;
    padding-top: 20%;
    &__text{
      font-size: 2vw;
    }
  }
}
