@import "./../variables.scss";

.access__map {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  &_mapouter {
    margin-bottom: 1rem;
    height: 55%;
    &_gmap_canvas {
      width: 100%;
      height: 100%;

      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@include mq("md") {
  .access__map {
    margin: 3rem 12%;
    &_mapouter {
      height: 60%;
      margin-bottom: 3rem;
    }
  }
}

.access__map_row {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin: 0;

  &_mapouter {
    order: 2;
    height: 80%;
    &_gmap_canvas {
      width: 100%;
      height: 100%;

      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
  &_text {
    h3 {
      margin-bottom: 1rem;
    }
  }
}

@include mq("md") {
  .access__map_row {
    width: 100%;
    flex-direction: row;
    gap: 2rem;
    &_mapouter {
      flex-grow: 1;
      height: 100%;
    }
    &_text {
      align-self: center;
    }
  }
}
