@import "./../variables.scss";

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  &__button {
    max-width: 400px;
    width: 100%;
    margin: 0 13px;
  }

  &__swiper {
    height: 100%;
    width: 100%;
    text-align: center;
  }
}

@include mq("md") {
  .section {
    flex-direction: row;
    align-items: center;

    &__button {
      order: 2;
      width: 50%;
    }
    &__swiper {
      width: 50%;
      text-align: unset;
    }
  }
}
