@import "../variables.scss";

.top {
  height: auto;
  h2 {
    font-size: 30px;
    text-align: center;
  }
  p {
    font-size: 14px;
  }
  &__image {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  &__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }
  @include mq("md") {
    display: flex;
    height: 85vh;
    p {
      font-size: 18px;
      margin-bottom: 0;
    }
    &__image {
      margin-top: 0;
      display: flex;
      width: 50%;
    }
    &__text {
      width: 36vw;
      margin: 0 auto;
      padding-top: 10%;
      order: 1;
    }
    h2 {
      display: flex;
      font-size: clamp(40px, 1vw, 60px);
    }
  }
}
